body {
  font-family: 'sans-serif',arial;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-inline: 30px;
}

header {
  background-color: #c59d33;
  color: #e4dede;
  padding:0 15px 0 15px;
  border-radius: 8px;

}

main {
  margin-left: 10dvh;
  margin-right: auto; 
}


.Hobbies {
  padding: auto;
}
.Hobbies H2 {
  background-color: #c59d33;
  color: #ffffff;
  margin: auto;
  padding:0 15px 0 15px;
  border-radius: 8px;
  display: inline-block;
}
.Hobbies p {
  font-size: 20px;
}

.contenedor {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.tarjeta {
  background-color: #404f56;
  border-radius: 8px;
  padding: 20px;
  width: 300px;
}

.tarjeta h3 {
  color: #e4dede;
  margin-top: 0;
}

.tarjeta img {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 10px;
}

.tarjeta p {
  color: #e4dede;
  margin-top: 0;
  font-size: 16px;
}

.actores {
  display: flex;
  justify-content: space-between;
  margin-top: 20px; 
}

.actores img {
  width: 30%;
}

.actores p {
  font-size: 20px;
  text-align: center;
  width: 30%;
}